
<!-- Beginning of Footer -->

<nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">ICON</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li>
        <p>
        Metro Engineering & Survery LLC.
        <br>
        123. E Washington St.
        <br>
        Phoenix, AZ 85034
        </p>
      </li>
      <li>
        602.888.8888
      </li>

    </ul>

      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Terms of Use</button>

  </div>
</nav>

  </body>
</html>
