<!-- Beginning of Footer -->
<div class="upcoming">
  <b>DO YOU HAVE AN UPCOMING PROJECT?</b>
  <br>
  <a href="/contactus">
  <button type="button" class="contactUs" name="button">CONTACT US</button>
  </a>
</div>
<nav class="navbar sticky-bottom navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img class="metroLogo" src="/images/croppedMetroLogo.jpg" alt="img"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li>
        <p>
        Metro Engineering & Survery LLC.
        <br>
        123. E Washington St.
        <br>
        Phoenix, AZ 85034
        </p>
      </li>

      <li>
        602.888.8888
      </li>


    </ul>



    <p>&copy; Metro Engineering & Survey LLC</p>



  </div>
</nav>
<!-- Parallax -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"></script>
  </body>
</html>
