<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  </head>
  </head>
  <body>
    <header>
      <p>header</p>
    </header>
    <a href="/login">login</a>
    <a href="/logout">Logout</a>
