<% include ./partials/header %>
<!-- Header and Nav bar -->

<h1>Add a Project</h1>

<form class="" action="/projects/add" method="post">
  
  <input type="text" name="name" placeholder="Name">
  <br>
  <input type="text" name="address" placeholder="Address">
  <br>
  <input type="text" name="description" placeholder="Description">
  <br>
  <input type="text" name="img_url" placeholder="Image URL">
  <br>
  <input type="submit">

</form>

<!-- Footer -->
<% include ./partials/footer %>
