
<% include ./partials/header %>
<div class="">
  <form class="" action="clock/in" method="post">
    <button class='btn' type="button" name="button">Clock In</button>
  </form>
  <form class="" action="clock/out" method="post">
    <button  class='btn' type="button" name="button">Clock Out</button>

  </form>

  <form class="" action="clock/Iamtired" method="post">
    <button class='btn' type="button" name="button">Sick</button>
  </form>

</div>

<% include ./partials/footer %>
