<% include ./partials/header %>
  <!-- Add New Project Button -->


<div class="container">
  <div class="row">
    <div class="">
      <a href="/projects/add">
            <button type="button" class="newProjectBtn">
            <i class="fa fa-plus" aria-hidden="true"></i> New Project</button>
      </a>

    </div>
    <%result.forEach((item)=>{%>
      <div class="employee-box col-3">
        <h1><%=item.name%></h1>
        <hr>
        <p>Email:<%=item.email%></p>
        <hr>
        <p>Put a picture here</p>
        <a class='btn btn-outline-secondary control-btn' href="/control/logtime/<%=item.id%>">TimeCard</a>


      </div><hr>

      <%})%>


  </div>

</div>
  <% include ./partials/footer %>
