<% include ./partials/header %>
  <% include ./partials/topBanner %>
<div class="contactPage">
  <h1>Request More Information</h1>
  <p>Use this form to contact us to get more information about our company, products, or services.</p>
  <div class="contactForm">
  <form class="" action="/contactus" method="post">
    <input type="text" name="name" placeholder="Name" autofocus="autofocus">
    <br>
    <input type="text" name="email" placeholder="Email">
    <br>
    <textarea name="content" rows="8" cols="80" placeholder="Email Content"></textarea>
    <br>
    <button type="submit" name="button">Submit</button>
    </div>
  </form>
</div>

<% include ./partials/footer %>
