<% include ./partials/header %>
<div class="">
  <h1>Request More Information</h1>
  <p>Use this form to contact us to get more information about our company, products, or services.</p>
  <form class="" action="index.html" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name">
    <label for="email"></label>
    <input type="text" name="email">
    <label for="content"></label>
    <input type="text" name="content">
    <button type="button" name="button"></button>
  </form>

</div>
<% include ./partials/footer %>
