<% include ./partials/header %>
<body class="inbox-ejs">
  <div class="container" id="inbox-container">
      <div class="btn">
        <a href="/inbox">Unread</button></a>
      </div>
      <div class="btn">
        <a href="/inbox/read">Archive</a>
      </div>
      <div class="btn">
        <a href="/inbox/completed">Completed</a>
      </div>
    </div>

    <br><br>

    <!-- List of bookings -->
    <%if(result.length >= 3) {%>
      <div class="gridContainer">
        <% }else if(result.length == 2) {%>
          <div class="gridContainer2">
            <%} else {%>
              <div class="gridContainer1">
                <%}%>
                  <% for(var i = 0; i<result.length; i++){ %>
                    <div class="inbox gridItem">

                      <h4 class=""><%= result[i].name %></h4>
                      <b class=""><%= result[i].content %></b>
                      <br>


                      <!-- Buttons -->
                      <form action="/inbox/read/<%=result[i].id%>" method="post">
                            <button class="inboxBtns" type="submit" name="button">Save</button>
                      </form>
                      <form action="/inbox/delete/<%=result[i].id%>" method="get">
                        <button class="inboxBtns" type="submit" name="button">Delete</button>
                      </form>


                    </div>
                    <% } %>
              </div>



<% include ./partials/footer %>
