<% include ./partials/header %>
<body class="inbox-ejs">
  <div class="container" id="inbox-container">
      <div class="btn">
        <a href="/inbox">Unread</button></a>
      </div>
      <div class="btn">
        <a href="/inbox/read">Archive</a>
      </div>
      <div class="btn">
        <a href="/inbox/completed">Completed</a>
      </div>
    </div>
    <br><br>
    <div class="">
      <%for(let i=0; i< result.length; i++){%>
        <h4><%=result[i].name%></h4>
        <p>
          <%=result[i].content%>
        </p>
        <div class="row" id="marked-inbox-btns">
          <div class="col-12" id="read-delete">
        <form class="inbox-btns" action="/inbox/read/<%=result[i].id%>" method="post">
              <button class="inbox-btn" type="submit" name="button">Save</button>
        </form>
        <form class="inbox-btns" action="/inbox/delete/<%=result[i].id%>" method="get">
          <button class="inbox-btn" type="submit" name="button">Delete</button>
        </form>
        <hr id="inbox-hr">
      </div>
    </div>
    </body>
        <%}%>

<% include ./partials/footer %>
