<% include ./partials/header %>
<div class="container">
  <div class="row">
    <div class="">Unread</div>
    <div class="">Read</div>
    <div class="">Replied</div>
  </div>
  <div class="">
    <%for(let i=0; i< result.length; i++){%>
      <h4><%=result[i].name%></h4>
      <p><%=result[i].content%></p>
      <hr>
      <%console.log(result[i].id)%>
      <form class="" action="/inbox/<%result[i].id%>" method="post">
        <button type="submit" name="button">read</button>
      </form>
      <a href="/delete/message/<%result[i].id%>">Delete</a>
    <%}%>

  </div>


</div>
<% include ./partials/footer %>
