<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  </head>
  <body>
    <p>the main page</p>
    <a href="/about">about</a>
    <a href="/experience">exp</a>
    <a href="/contact">contack</a>
    <a href="/equipment">equip</a>
  </body>
</html>
