<% include ./partials/header %>
    <p>the main page</p>
    <a href="/about">about</a>
    <a href="/experience">exp</a>
    <a href="/contact">contack</a>
    <a href="/equipment">equip</a>
    <a href="/login">login</a>
    <a href="/logout">Logout</a>
<% include ./partials/footer %>
