<% include ./partials/header %>


  <div class="container-fluid login-page">


    <!-- Button to Open the Modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
      Open modal
    </button>

    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Employee Login</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <form  action="login" method="post">

              <!-- <i class="fas fa-users fa-9x" id="login-icon"></i><br><br> -->
              <input type="text" name="email" placeholder="EMAIL"><br><br>
              <input type="password"  name="password" placeholder="PASSWORD"><br><br>

              <a href="/clock">
                <button class="btn btn-outline-secondary" type="submit">LOGIN</button>
              </a>
              <br>
              <span class="psw" id="forgot"><b><a href="#">Forgot password?</a></b></span><br><br>
            </form>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>


    <div class="login-box">

<!--EMPLOYEE LOGIN -->
      <div class="employee-login-box">
        <h3 id="login-header">Employee Login</h3>
        <form class="login-form" action="login" method="post">

          <i class="fas fa-users fa-9x" id="login-icon"></i><br><br>
          <input type="text" id="login-input" name="email" placeholder="EMAIL"><br><br>
          <input type="password" id="login-input" name="password" placeholder="PASSWORD"><br><br>

          <a href="/clock">
            <button class="loginBtn" type="submit">LOGIN</button>
          </a>
          <br>
          <span class="psw" id="forgot"><b><a href="#">Forgot password?</a></b></span><br><br>
        </form>
        <br>
      </div>
<!-- ADMIN LOGIN -->
      <div class="admin-login-box">
        <h3 id="login-header">Admin Login</h3>
        <form class="login-form" action="admin" method="post">
          <i class="fas fa-users fa-9x" id="login-icon"></i><br><br>
          <input type="text" id="login-input" name="email" placeholder="EMAIL"><br><br>
          <input type="password" id="login-input" name="password" placeholder="PASSWORD">
            <button class="loginBtn" type="submit">LOGIN</button>

          </form>
      </div>

    </div>
  </div>

<% include ./partials/footer %>
