<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body class>
  <% include ./partials/header %>

    <div class="container-fluid" id="login-container">

      <h3>Employee Login</h3>
      <form class="login-form" action="login" method="post">

        <i class="fas fa-users fa-10x" id="login-icon"></i><br><br>
        <input type="text" id="login-input" name="email" placeholder="EMAIL"><br><br>
        <input type="password" id="login-input" name="password" placeholder="PASSWORD"><br><br>
        <a href="/clock"><button class="loginBtn" type="submit">LOGIN</button></a><br></br>
        <span class="psw" id="forgot"><a href="#">Forgot password?</a></span><br><br>
      </form>

      <br><br><h3>Admin Login</h3>
      <form class="login-form" action="admin" method="post">

        <i class="fas fa-users fa-10x" id="login-icon"></i><br><br>
        <input type="text" id="login-input" name="email" placeholder="EMAIL"><br><br>
        <input type="password" id="login-input" name="password" placeholder="PASSWORD"><br><br>
        <a href="/timelog"><button class="loginBtn" type="submit">LOGIN</button></a><br></br>
        <span class="psw" id="forgot"><a href="#">Forgot password?</a></span>
      </form>
    </div>
  </div>

</body>
<% include ./partials/footer %>
</html>
