
<% include ./partials/header %>

  <div class="container-fluid" id="login-container">
        <h5>EMPLOYEE LOGIN</h3>
        <form class="login-form" action="login" method="post">

          <i class="fas fa-users fa-8x" id="icon"></i><br><br>
          <input type="text" name="email" placeholder="Email"><br><br>
          <input type="password" name="password" placeholder="Password"><br><br>
          <a href="#"><button class="loginBtn" type="submit">login</button></a>
        </form>



<!-- DONT REMOVE FUNCTIONALITY -->
        <div class="login-box">
          <h5>Admin Login</h5><br>
          <form class="" action="/admin" method="post">
            <input type="text" name="email" placeholder="Email..."><br>
            <input type="password" name="password" placeholder="please enter your password"><br>
            <button class='btn' type="submit">Login</button>
          </form>
        </div>
  </div>


<% include ./partials/footer %>
