
<% include ./partials/header %>
<!-- Header and Nav bar -->

<div class="projectsHeader">
  Projects header goes here
</div>



<!-- Loop through even projects -->
<div class="row content">

    <% for(var i = 0; i<project.length; i++){ %>

      <div class="col-md-7 mickey">
          <h2 class="content-heading"> <%= project[i].name %> <span class="text-muted"> <%= project[i].address
            %></span></h2>

          <p class="lead"> <%= project[i].description %></p>
      </div>
      <div class="col-md-5">
          <img src="<%= project[i].img_url %>" alt="project img" class="content-image img-responsive center-block">
      </div>
  </div>
<% } %>


<!-- Footer -->
<% include ./partials/footer %>
