
<% include ./partials/header %>

<!-- Header and Nav bar -->

<div class="row content">
      <div class="col-md-7 mickey">
          <h2 class="content-heading">Project Name goes here. <span class="text-muted">Project address</span></h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, perferendis, quia? Molestias repellat ullam esse asperiores accusantium nesciunt nostrum possimus et placeat id vel eveniet, assumenda quas ex dolorem corrupti?</p>
      </div>
      <div class="col-md-5">
          <img src="images/girls.jpg" alt="girls playing" class="content-image img-responsive center-block">
      </div>
  </div>

  <div class="row content">
     <div class="col-md-5">
          <img src="images/girls.jpg" alt="girls playing" class="content-image img-responsive center-block">
      </div>
      <div class="col-md-7 mickey">
          <h2 class="content-heading">Project Name goes here. <span class="text-muted">Project address</span></h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, perferendis, quia? Molestias repellat ullam esse asperiores accusantium nesciunt nostrum possimus et placeat id vel eveniet, assumenda quas ex dolorem corrupti?</p>
      </div>
  </div>
<br>
  <div class="row content">
      <div class="col-md-7 mickey">
          <h2 class="content-heading">Project Name goes here. <span class="text-muted">Project address</span></h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, perferendis, quia? Molestias repellat ullam esse asperiores accusantium nesciunt nostrum possimus et placeat id vel eveniet, assumenda quas ex dolorem corrupti?</p>
      </div>
      <div class="col-md-5">
          <img src="images/girls.jpg" alt="girls playing" class="content-image img-responsive center-block">
      </div>
  </div>


<!-- Footer -->
<% include ./partials/footer %>
