<% include ./partials/header %>
    <p>timeLog</p>
    <h1>Emloyee {name}</h1>
    <h2>choose the months {Jun}</h2>
    <h1>log</h1>
    <h1>Graph</h1>
    <h1>{number} houes</h1>

<% include ./partials/footer %>
