<<<<<<< HEAD
*{
  padding:0px;
  margin:0px;
  box-sizing: border-box;
=======

* {
  padding: 0;
  margin: 0;
>>>>>>> 9c2a2bc17ce6ba761da86af5c13f0d8787fc96fe
}
#login-container {
  text-align: center;
  margin-top: 220px;
  width: 400px;
}

.login-page {
  background-image: url(https://images.unsplash.com/photo-1501791781042-2ba6a5292755?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a66b582b5f0ea51ea43f7c616cc61801&auto=format&fit=crop&w=2100&q=80);
  background-position: center;
}

#icon {
  margin-top: 30px;
  color: #ffbf00;
}

<<<<<<< HEAD
/* form {
  background: rgba(0, 0, 0, 0.8);
=======
form {
  background: rgba(0, 0, 0, 0.5);
>>>>>>> 9c2a2bc17ce6ba761da86af5c13f0d8787fc96fe
  color: #ffbf00;
  border-style: solid;
  border-width: thick;
  border-radius: 20px;
  display: block;
  height: 380px;
<<<<<<< HEAD
  border-color: black;
} */
=======
  border-color:black;
}
>>>>>>> 9c2a2bc17ce6ba761da86af5c13f0d8787fc96fe

/* input {
  height: 45px;
  width: 250px;
  border-style: solid;
  border-radius: 10px;
  text-align: center;
  opacity: 1;
  background-color: black;
  color: #e6e6e6;
  border-color: #404040;
} */

/* input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus textarea:-webkit-autofill, textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
  border: 2px solid #404040;
  -webkit-text-fill-color: #e6e6e6;
  -webkit-box-shadow: 0 0px 0px 1000px inset;
} */

.loginBtn {
  border-style: solid;
  border-width: 2px;
  width: 100px;
  height: 40px;
  color: white;
  cursor: pointer;
  background-color: black;
  border-radius: 12px;
  font-weight:500;
  border-color:#404040;
}

.loginBtn:hover {
  background-color: #ffbf00;
  cursor: pointer;
  color:white;
  font-weight:800;
<<<<<<< HEAD
/* Projects page */
/* html,body {
    height:100%;
	width:100%;
	position:relative;
} */
#background-carousel{
	position:fixed;
	width:100%;
	height:100%;
	z-index:-1;
}
.carousel,
.carousel-inner {
	width:100%;
	height:100%;
	z-index:0;
	overflow:hidden;
}
.item {
	width:100%;
	height:100%;
	background-position:center center;
	background-size:cover;
	z-index:0;
}

  /* Projects Page  */
  h5 {
  display: inline-block;
  padding: 10px;
  background: #B9121B;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.index-btn-box{
  display:inline-block;
}
