<<<<<<< HEAD
=======

>>>>>>> 220569de305859db862dca84ff15caad709b915a
*{
  padding:0px;
  margin:0px;
  box-sizing: border-box;
<<<<<<< HEAD
}

/* LOGIN PAGE */
#login-container{
=======

#login-container {
>>>>>>> 220569de305859db862dca84ff15caad709b915a
  text-align: center;
  margin-top:155px;
}

#login-icon{
  color:black;
}

#login-input{
  font-size:14px;
  text-align: center;
}

.loginBtn{
  height:30px;
  width:120px;
}

#forgot{
  font-size:14px;
}

/* PROJECTS PAGE */

  /* Projects Page  */
  /* Projects page */
  /* html,body {
      height:100%;
  	width:100%;
  	position:relative;
  } */
  #background-carousel{
  	position:fixed;
  	width:100%;
  	height:100%;
  	z-index:-1;
  }
  .carousel,
  .carousel-inner {
  	width:100%;
  	height:100%;
  	z-index:0;
  	overflow:hidden;
  }

  .item {
  	width:100%;
  	height:100%;
  	background-position:center center;
  	background-size:cover;
  	z-index:0;
  }

  h5 {
  display: inline-block;
  padding: 10px;
  background: #B9121B;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.index-btn-box{
  display:inline-block;
}
